

html,body{
    min-height: 100%;
    max-width: 100%;
    background-color: #2a282e;
    color: antiquewhite !important;
}

body, ul, ol, dl,p{
    margin: 0;
}

td {
    padding: .5rem;
}
img {
    border: none;
    max-width: 100%;
}

.color-light-logo{
    color: antiquewhite;
    font-weight: bold;
    padding:0;
}

.href-hover:hover{
    color: blueviolet;
}


.second-row{
    margin-top: 6rem;
}