<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/mainLayout}">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<section layout:fragment="custom-content">
  <form th:action="@{/people/passwordchanged}" th:object="${person}" method="post">
      <input type="hidden" th:field="*{id}"/>
      <div class="mb-3">
          <div>
              <label for="password">Hasło</label>
          </div>
          <div>
              <input id="password"
                     type="password"
                     th:field="*{password}"
                     placeholder="Hasło"
                     th:class="'form-control ' + ${#fields.hasErrors('password') ? 'is-invalid' : ''}"/>

              <small class="text-danger"
                     th:if="${#fields.hasErrors('password')}"
                     th:errors="*{password}"></small>
          </div>
          <div class="mb-3">
              <div>
                  <label for="repeated-password">Powtórz hasło</label>
              </div>
              <div>
                  <input id="repeated-password"
                         type="password"
                         th:field="*{repeatedPassword}"
                         placeholder="Hasło"
                         th:class="'form-control ' + ${#fields.hasErrors('repeatedPassword') ? 'is-invalid' : ''}"/>

                  <small class="text-danger"
                         th:if="${#fields.hasErrors('repeatedPassword')}"
                         th:errors="*{repeatedPassword}"></small>
              </div>
          </div>
      </div>
      <div>
          <button type="submit" class="btn btn-primary" th:text="Zapisz"></button>

      </div>
  </form>
</section>
</body>
</html>