<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/mainLayout}">
<head>
    <meta charset="UTF-8">
    <title>Bugtracker - people list</title>
</head>
<body>
<section layout:fragment="custom-content">
    <a th:href="@{/people/create}" class="btn btn-success" >Add new</a>
    <table class="table" >
        <thead>
        <tr>

            <th scope="col" th:text="#{people.name}"></th>
            <th scope="col" th:text="#{people.login}"></th>
            <th scope="col" th:text="#{people.email}"></th>
            <th scope="col" th:text="#{common.delete}"></th>
        </tr>
        </thead>
        <tbody >
        <tr th:each="person : ${people}">
            <td th:text="${person.getUserRealName()}"></td>
            <td th:text="${person.getLogin()}"></td>
            <td th:text="${person.getEmail()}"></td>
            <td><a th:href="@{/people/people_delete/{id}(id=${person.getId()})}" class="btn btn-danger" >Delete</a></td>
        </tr>
        </tbody>
    </table>
</section>

</body>
</html>