.login-form{
    width: 100%;
    max-width: 500px;
    margin: 2rem auto;
}

*{
    color: white;
}


.title{
    font-weight: 700;
}

a{
    text-decoration: none;
    color:white !important;
}

a.hover:hover{
    color: midnightblue !important;
    transition: 0.3s;
}

button, .corn{
    background-color: cornflowerblue !important;
    border: cornflowerblue !important;
}

.text-cfb{
    color: cornflowerblue !important;
}

.card-project{
    background-color: cornflowerblue !important;
    color: white !important;
}