<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/mainLayout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bugtracker</title>

</head>
<body>
<secion layout:fragment="custom-content">
    <h1>Welcome to Bugtracker</h1>
    <div class="container ">
        <div class="row">
            <div class="col ">
                <ul class="list-group list-group-flush ">
                    <li class="list-group-item bg-dark text-light">
                        <button class="btn btn-info">
                            <a class="hover" href="/projects/create" th:text="#{home.createProject}"></a>
                        </button>
                    </li>
                    <li class="list-group-item bg-dark text-light">
                        <button class="btn btn-info">
                            <a class="hover" href="/projects" th:text="#{home.projectList}"></a>
                        </button>
                    </li>
                    <li class="list-group-item bg-dark ">
                        <button class="btn btn-info">
                            <a class="hover" href="/issues" th:text="#{home.issuesList}"></a>
                        </button>
                    </li>
                    <li class="list-group-item bg-dark ">
                        <button class="btn btn-info">
                            <a class="hover" href="#" th:text="#{home.createIssue}"></a>
                        </button>
                    </li>
                </ul>
            </div>
            <div class="col">
                <h1 class="d-none">New features to add</h1>
            </div>
        </div>

    </div>
</secion>
</body>
</html>